body,
html {
    margin: 0;
}

screen {
    width: 100vw;
    height: 56.25vw;
    position: relative;
}

/************ titelskærm **************/

#menu_background {
    background: url(Objekter/start%20sk%C3%A6rm.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 56.25vw;
    width: 100vw;
    position: absolute;
}

#start {
    background: url(Objekter/play%20knap.svg);
    height: 30vw;
    width: 30vw;
    background-repeat: no-repeat;
    left: 36vw;
    top: 15vw;
    position: absolute;
    background-size: 100%;
}

#settings {
    background: url(Objekter/Settings%20knap.svg);
    height: 6vw;
    width: 6vw;
    background-repeat: no-repeat;
    left: 93vw;
    top: 1vw;
    position: absolute;
    background-size: 100%;
}

/**************** settings ******************/

#settings_skærm {
    background: url(Objekter/Settings.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    height: 40vw;
    width: 65vw;
    left: 18vw;
    top: 9vw;
}

#mute_off {
    background: url(Objekter/knap%20slukket.svg);
    height: 5vw;
    width: 10vw;
    background-repeat: no-repeat;
    left: 65vw;
    top: 23vw;
    position: absolute;
    background-size: 100%;
}

#mute_on {
    background: url(Objekter/knap%20t%C3%A6ndt.svg);
    height: 5vw;
    width: 10vw;
    background-repeat: no-repeat;
    left: 65vw;
    top: 23vw;
    position: absolute;
    background-size: 100%;
}

#fx_off {
    background: url(Objekter/knap%20slukket.svg);
    height: 5vw;
    width: 10vw;
    background-repeat: no-repeat;
    left: 65vw;
    top: 34vw;
    position: absolute;
    background-size: 100%;
}

#fx_on {
    background: url(Objekter/knap%20t%C3%A6ndt.svg);
    height: 5vw;
    width: 10vw;
    background-repeat: no-repeat;
    left: 65vw;
    top: 34vw;
    position: absolute;
    background-size: 100%;
}

#luk {
    background: url(Objekter/afslut.svg);
    height: 6vw;
    width: 6vw;
    background-repeat: no-repeat;
    left: 75vw;
    top: 11vw;
    position: absolute;
    background-size: 100%;
}

/**************** forklaring **********/

#forklaring {
    background: url(Objekter/spilbeskrivelse.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    height: 50vw;
    width: 80vw;
    left: 10vw;
    top: 5vw;
}

#luk2 {
    background: url(Objekter/afslut.svg);
    height: 4vw;
    width: 4vw;
    background-repeat: no-repeat;
    left: 84vw;
    top: 7vw;
    position: absolute;
    background-size: 100%;
}

/************** spilskærm**************/

#game_background {
    background: url(Objekter/Baggrund-100.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 56.25vw;
    width: 100vw;
    position: absolute;
}




#points {
    background: url(Objekter/point%20bar.svg);
    height: 5vw;
    width: 50vw;
    background-repeat: no-repeat;
    left: 26vw;
    top: 0.5vw;
    position: absolute;
    background-size: 100%
}

#energi {
    background: url(Objekter/livbar.svg);
    height: 5vw;
    width: 50vw;
    background-repeat: no-repeat;
    left: 26vw;
    top: 5vw;
    position: absolute;
    background-size: 100%;
}

#time {
    background: url(Objekter/blomst.svg);
    height: 10vw;
    width: 10vw;
    background-repeat: no-repeat;
    left: 1vw;
    top: 1vw;
    position: absolute;
    background-size: 100%;
}

#glad_blomst {
    background: url(Objekter/glad%20blomst.svg);
    height: 15vw;
    width: 10vw;
    background-repeat: no-repeat;
    left: 15vw;
    top: 18vw;
    position: absolute;
    background-size: 100%;
}

#sur_blomst {
    background: url(Objekter/sur%20blomst.svg);
    height: 15vw;
    width: 10vw;
    background-repeat: no-repeat;
    left: 30vw;
    top: 30vw;
    position: absolute;
    background-size: 100%;
}

#svamp {
    background: url(Objekter/svamp.svg);
    height: 15vw;
    width: 10vw;
    background-repeat: no-repeat;
    left: 50vw;
    top: 25vw;
    position: absolute;
    background-size: 100%;
}

#ukrudt {
    background: url(Objekter/ukrudt.svg);
    height: 15vw;
    width: 10vw;
    background-repeat: no-repeat;
    left: 70vw;
    top: 30vw;
    position: absolute;
    background-size: 100%;
}



/*********** slutskærm ******/

#gameover {
    background: url(Objekter/slutsk%C3%A6rm.png);
    height: 56.25vw;
    width: 100vw;
    background-repeat: no-repeat;
    position: absolute;
    background-size: 100%;
}

#retry_knap {
    background: url(Objekter/retry%20knap.svg);
    height: 30vh;
    width: 30vw;
    background-repeat: no-repeat;
    left: 35vw;
    top: 22vh;
    position: absolute;
    background-size: 100%;
}

#levelcomplete {
    background: url(Objekter/you%20won_1.png);
    height: 56.25vw;
    width: 100vw;
    background-repeat: no-repeat;
    position: absolute;
    background-size: 100%;
}

/************* animation ***********/

.hide {
    display: none;
}

.fade_in {
    animation-name: fade_in_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
}

@keyframes fade_in_kf {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade_out {
    animation-name: fade_out_kf;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fade_out_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
